{% extends "base.html" %}

{% block content %}
<h3 class="post-title"><b>About</b></h3>
<h5 class="post-title">Hi, I'm Jacob!</h5>

<img src="/static/pictures/personal_pic.png" width="228" height="228" alt="Personal Pic">

<p>
  I'm a Data Analyst with 1+ yrs professional experience looking to step into a Data Engineer role.
  <br>
  <br>
  My main tech stack includes Python, dbt, Airflow, Docker, AWS Cloud, Terraform, and GitHub Actions.
  <br>
  <br>
  This website is hosted on GitHub Pages and built with <a href="https://github.com/Frozen-Flask/Frozen-Flask">Frozen Flask</a>.
  <br>
  <br>
  <br>
  <br>
  Version: 0.0.2
</p>
{% endblock content %}