<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Jacob Yablonski">
    <meta name="description" content="Jacob Yablonski's Personal Blog">

    <title>Jacob Yablonski</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" type="image/png" href="/static/pictures/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/webfont.js"></script>
    <script src="/static/js/snap.svg-min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/sequence-diagram-min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HY68Y8REB4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HY68Y8REB4');
    </script>
</head>
<body>
    <nav class="navbar">
      <div class="container">
        <a style="color:white;">Jacob Yablonski</a>
        <div style="float:right;">
          <ul style="list-style:none;display:flex;">
            <a href="{{ url_for("index") }}" class="left"><li class="link-list">Home</li></a>
            <a href="{{ url_for("posts") }}" class="left"><li class="link-list">Posts</li></a>
            <a href="{{ url_for("projects") }}" class="left"><li class="link-list">Projects</li></a>
            <a href="{{ url_for("resume") }}" class="left"><li class="link-list">Resume</li></a>
            <a href="https://nbadashboard.jyablonski.dev" class="left"><li class="link-list">NBA Dashboard</li></a>
            <a href="https://api.jyablonski.dev" class="left"><li class="link-list">NBA REST API</li></a>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="padding-bottom:100px;">
        <br>
        <main id="body-fade">
            {% block content %}
            <p>Default content to be displayed</p>
            {% endblock content %}
        </main>
    </div>
    <nav class="navfoot">
      <div style="text-align:center;">
        &copy; 2024 |
        &thinsp; <a href="https://www.linkedin.com/in/jacobyablonski/" class="link-fa"><i class="fa fa-linkedin fa-lg"></i></a>
        &thinsp; <a href="https://github.com/jyablonski" class="link-fa"><i class="fa fa-github fa-lg"></i></a>
      </div>
    </nav>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>

</html>