{% extends "base.html" %}

{% block content %}
<h3 class="post-title"><b>Home</b></h3>
<h5 class="post-title">Hi, I'm Jacob!</h5>

<img src="/static/pictures/personal_pic.png" width="228" height="228" alt="Personal Pic">

<p>
  I'm a Data Analyst with 1+ yrs professional experience.  My main tech stack includes Python, dbt, Airflow, Docker, AWS Cloud, Terraform, and GitHub Actions. 
  <br>
  <br>
  I specialize in building data pipelines, performing ELT & ETL data modeling for downstream analytics in BI tools, and incorporating software engineering best
  practices such as unit testing, data quality & validation testing, and CI CD workflows into my work to make my data solutions as accurate & reliable as possible.
  <br>
  <br>
  I pride myself on my committment to personal improvement and my ability to learn.  I'm actively expanding my skill set, working on personal projects, and
  exploring everything this domain has to offer while I continue working towards an Analytics Engineer or Data Engineer position.
  <br>
  <br>
  Feel free to checkout the tabs for some of my relevant work, or the social links at the bottom of the website 👍
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  Version: 0.2.2
</p>
{% endblock content %}