{% extends "base.html" %}

{% block content %}
<h3 class="post-title"><b>Home</b></h3>
<h5 class="post-title">Hi, I'm Jacob!</h5>

<img src="/static/pictures/personal_pic.png" width="228" height="228" alt="Personal Pic">

<p>
  I'm a Data Engineer based out of Southern California with 3+ yrs professional experience and a passion for
  building scalable and robust data solutions. My main tech stack includes Python, Airflow, AWS Cloud, Terraform, dbt, and Spark.
  <br>
  <br>
  Some defining characteristics of my work & skill set include:
  <ol>
  <li>Implementing Batch & Stream Processing using tools such as Python, Airflow, and Debezium + Apache Kafka</li>
  <li>Performing ELT & ETL data modeling for reporting & downstream analytics, primarily with dbt</li>
  <li>Building Cloud Architecture using IaC Tools such as Terraform & Terragrunt</li>
  <li>Incorporating software engineering best practices such as unit + integration testing, infrastructure-as-code,
      and CI / CD workflows</li>
  <li>Taking ownership of the entire software development lifecycle, from designing and implementing cloud
      infrastructure and application architecture to deploying services and monitoring performance.</li>
  </ol>
  <br>
  Feel free to checkout the Projects Tab for some of my relevant work, or the social links at the bottom of the website 👍
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  Version: 0.4.7
</p>
{% endblock content %}