{% extends "base.html" %}

{% block content %}
<h3 class="post-title"><b>Home</b></h3>
<h5 class="post-title">Hi, I'm Jacob!</h5>

<img src="/static/pictures/personal_pic.png" width="228" height="228" alt="Personal Pic">

<p>
  I'm a Data Engineer based out of Chicago, IL with 3+ yrs professional experience.  My main tech stack includes Python, Airflow, AWS Cloud,
  Terraform, dbt, and Spark.
  <br>
  <br>
  I specialize in:
  <ol>
  <li>Implementing Batch & Stream Processing using tools such as Python, Airflow, and Debezium + Apache Kafka</li>
  <li>Performing ELT & ETL data modeling for reporting & downstream analytics</li>
  <li>Building Cloud Architecture using IAC Tools and owning every step of the process including design, security & cost, deployment, and service monitoring</li>
  <li>Incorporating software engineering best practices such as unit + integration testing, infrastructure-as-code,
      and CI / CD workflows to make reliable & performant data products</li>
  </ol>
  <br>
  Feel free to checkout the tabs for some of my relevant work, or the social links at the bottom of the website 👍
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  Version: 0.4.1
</p>
{% endblock content %}